.container{
    margin-top: 10%;  
    width: 65%;
    box-sizing: border-box;
    border: solid black 1px;
}

button{
    width: 25%;
    margin: 5% 0% 5% 35%;
}

.startHide{
    display: none;
}

.nextHidden{
    display: none;
}

.highScores{
    float: left;
}

.timer{
    float: right;
    /* display: none; */
}

.olHide{
    display: none;
}