.container{
    margin-top: 10%;  
    width: 65%;
    box-sizing: border-box;
}
body{
    background-color: #19191B;
    color: #CFBC81;
    font-weight: bolder;
}
button{
    width: 25%;
    margin: 5% 0% 5% 35%;
    background-color: #479860;
}
.card{
    padding: 2%;
    background-color: #D7CCCA;
    color: #19191B;
    box-sizing: border-box;
    border: .25em solid #479860;
}
.startHide{
    display: none;
}

.nextHidden1{
    display: none;
}
.nextHidden2{
    display: none;
}
.nextHidden3{
    display: none;
}
.nextHidden4{
    display: none;
}
.nextHidden5{
    display: none;
}
.nextHidden6{
    display: none;
}
.nextHidden7{
    display: none;
}

.highScores{
    float: left;
}

.timer{
    float: right;
    /* display: none; */
}

.olHide{
    display: none;
}

/* timer effects */

#timer{
    color: #A26E84;
    animation: shadow-pulse 1s infinite;
}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 .25em #479860;
  }
}

